@page "/cart"
@inject ICartService CartService

<PageTitle>TM Eshop - Košík</PageTitle>

@if (cartProducts == null || cartProducts.Count == 0)
{
    <div class="cartmessdiv">
        <span class="cartmes">@message</span>
    </div>
}
else
{
    <div class="carttable">
    <table>
        <tr>
            <th>ProId</th>
            <th>Produkt</th>
            <th>Cena</th>
            <th>Odstranit</th>
        </tr>
        @foreach (var product in cartProducts)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>
                    <a href="/product/@product.ProductId">
                        @product.Name
                    </a>
                </td>
                <td>@product.Price.ToString("N2", CultureInfo.CreateSpecificCulture("en-US"))&nbspKč</td>
                <td class="deltd">
                    <button class="del" @onclick="@(() => RemoveFromCart(product.ProductId))">
                        odstranit
                    </button>
                </td>
            </tr>           
        }
        <tr>
            <td colspan="3" class="totalprice">Total(@cartProducts.Count): @cartProducts.Sum(product => @product.Price).ToString("N2", CultureInfo.CreateSpecificCulture("en-US")) Kč</td>
            <td></td>
        </tr>
    </table>
        <a href="checkout">
            <div class="done">
            <span>Objednat</span>
            </div>
        </a>
    </div>
}


@code {
    List<CartResponce> cartProducts = null;
    string message = "Kosik se nacita...";

    protected override async Task OnInitializedAsync()
    {
        if ((await CartService.GetCartItems()).Count == 0)
        {
            message = "V kosiku nejsou produkty.";
            cartProducts = new List<CartResponce>();
        }
        else
        {
            cartProducts = await CartService.GetCartProducts();
        }
    }

    private async Task RemoveFromCart(int productId)
    {
        await CartService.RemoveFromCart(productId);
        if ((await CartService.GetCartItems()).Count == 0)
        {
            message = "V kosiku nejsou produkty.";
            cartProducts = new List<CartResponce>();
        }
        else
        {
            cartProducts = await CartService.GetCartProducts();
        }
    }
}
