@page "/product/{id:int}"
@inject IProductServiceInterface ProductService
@inject ICartService CartService

@if (product == null)
{
    <span>@message</span>
}
else
{
    <div>
        <img src="@product.ImageUrl" alt="@product.Name" />
        <div>
            <h3>@product.Name</h3>
            <p>@product.EANCode</p>
            <p>@product.ProducerName</p>
            <p>@product.DescriptionShort</p>
            <h4>@product.Price</h4>
        </div>
    </div>
}

<button @onclick="AddToCart">
    Pridat do kosiku
</button>

@code {
    private Product? product = null;
    private string message = string.Empty;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading products for you... bruh";

        var result = await ProductService.GetProduct(Id);
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            product = result.Data;
        }
    }


    private async Task AddToCart()
    {
        var cartItem = new Cart { ProId = product.ProId};
        await CartService.AddToCart(cartItem);
    }

}
