@page "/product/{id:int}"
@inject IProductServiceInterface ProductService
@inject ICartService CartService

@if (product == null)
{
    <span>@message</span>
}
else
{
    <div class="oneprod">
        <img src="@product.ImageUrl" alt="@product.Name" />
        <div class="prodinfo">
            <div class="prodinfo-1"><h3>@product.Name</h3></div>    
            <div class="prodinfo-2"><p>@product.DescriptionShort</p></div>
            <div class="prodinfo-3">
                <p>Výrobce: @product.ProducerName</p>
                <p>EAN: @product.EANCode</p>
                <h4>@product.Price.ToString("N2", CultureInfo.CreateSpecificCulture("en-US")) Kč</h4>
                <button @onclick="AddToCart">Do košíku</button>
            </div>
        </div>
    </div>
    
}

@code {
    private Product? product = null;
    private string message = string.Empty;

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        message = "Loading products for you...";

        var result = await ProductService.GetProduct(Id);
        if (!result.Success)
        {
            message = result.Message;
        }
        else
        {
            product = result.Data;
        }
    }

    private async Task AddToCart()
    {
        var cartItem = new CartItem
            {
                ProductId = product.ProId
            };
        await CartService.AddToCart(cartItem);
    }
}
